
* {
  -webkit-tap-highlight-color: transparent;
}

html {
  background: none;
  background-color: var(--pri);
}
html::before {
  content: "";
  background: rgba(0, 0, 0, 0);
}

html,
body {
  overflow: auto;
}


.body {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 12vh;
  width: 100%;
}
.note {
  padding: 0vh 2vh 0vh 2vh;
  background-color: var(--sec);
  margin: 0vh 1vh 1vh 1vh;
  border-radius: 10px;
  box-shadow: inset 0px 0px 3vh 0px rgba(255, 255, 255, 0.208);
}
.title {
  margin-top: 2vh;
  font-size: clamp(2vh, 3vh, 5vh);
  border-bottom: solid 0.5px var(--acc);
}

.text {
  margin-left: 3vw;
  color: rgb(36, 36, 36);
}
.add {
  bottom: 5vh;
  right: 5vw;
  position: fixed;
  padding: 0px;
  margin: 0px;

  font-size: 5vh;
  background-color: var(--acc);
  height: 7vh;
  width: 7vh;
  border: none;
  border-radius: 7px;
  box-shadow: inset 0px 0px 1vh 0px var(--sec);
}

/* Desktop and up */
@media (min-width: 768px) {

}
