.imgheader {
  position: fixed;
  top: 2vh;
  width: 100%;
  padding-bottom: 2vh;
  box-shadow:0px 1px rgba(0, 0, 0, 0.393);
  display: flex;
  align-items: center;
}

.header {
  margin: 0;
  top: 0vh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  position: fixed;
  height: 12vh;
  left: 6px;
  right: 6px;
  background-color: var(--pri);
  padding: 0px 0px 0px 2vw;
  box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.157);
}
.heading {
  z-index: 997;
  background-color: transparent;
  width: 25vh;
  border: none;
  margin: 0px;
  margin-top: 1vh;
  color: var(--acc);
  font-size: clamp(6vh, 9vh, 12vh);
  cursor: pointer;
}

.backdark {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 998;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.sidebar {
  padding: 0px;
  padding-top: 16.1vh;
  z-index: 999;
  position: fixed;
  top: 0%;
  left: 0;
  background-color: var(--pri);
  height: 100%;
  width: 45%;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  box-shadow: 0px 0px 3vh rgba(0, 0, 0, 0.429);
}

.sidebar.open {
  transform: translateX(0%);
}

.sidebarbutton {
  height: 7vh;
  width: 80%;
  margin: 10%;
  margin-bottom: -2vh;
  background-color: var(--pri);
  border: none;
  border-radius: 2vh;
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.515);
  font-size: large;
  font-weight: bolder;
  cursor: pointer;
  color: rgba(0, 0, 0, 0.609);
}
.sidebar-button:active {
  box-shadow: inset 0px 0px 15px rgba(0, 0, 0, 0.115);
}

.icon {
  margin-left: 2vh;
  height: 10vh;
  width: 10vh;
  background-color: var(--acc);
  border-radius: 5vh;
}

.iconimg {
  height: 100%;
  width: auto;
}

.username {
  margin: 0px;
  padding: 0px;
  margin-left: 2vh;
  font-size: xx-large;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
  color:rgba(0, 0, 0, 0.997)
}

/* Desktop and up */
@media (min-width: 768px) {
  .sidebar {
    padding-top: 15.1vh;
    width: 25%;
  }
  .icon {
    height: 10vh;
    width: 10vh;
  }
  .sidebarbutton {
    margin-bottom: -2vh;
  }
}
