:root {
  --pri: rgb(187, 165, 145);
  --sec: rgb(249, 236, 195);
  --acc: rgb(0, 188, 201);
}

html,
body {
  font-family: "WDXL Lubrifont TC", sans-serif;
  letter-spacing: 0.01em;
}

* {
  -webkit-tap-highlight-color: transparent;
}
